html,
body {
    height: 100%;
}

/* Homepage */

.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
  }

.navbar-collapse {
    flex-basis: 100%;
    /* flex-grow: 1; */
    align-items: center;
}

.callout-container {
    height: 100vh;
    background-image: url(../images/hero-image.jpg); 
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    font-size: 1em;
    overflow: hidden;
    height: 250px;
    width: auto;
    padding: 5;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    margin-top:20px;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}

.card-btn {
    background-color: #c5c5ee;
    border-color: grey;
    color: black;
}

footer {
    background-color: #c5c5ee;
    bottom: 0;
    width: 100%;
    height: 60px;
}

/* Profile Pages */

.img-profile {
    height: 300px;
    width: 300px;
    margin: auto;
    margin-bottom: 10px;
}

/* Tie Break Images */

.btn-choice-tie {
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    width: 200px;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    transition: background-color 0.25s ease-in-out;
    -moz-transition: background-color 0.25s ease-in-out;
    -webkit-transition: background-color 0.25s ease-in-out;
    -o-transition: background-color 0.25s ease-in-out;
}


/* Tie Break Images - hover effect */

.btn-choice-tie:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: inherit;
    border-radius: inherit;
}

#tie-rm1 {
    background-image: url("../images/tb_susan.jpg");
}

#tie-rm2 {
    background-image: url("../images/tb_annie.jpg");
}

#tie-rm3 {
    background-image: url("../images/tb_nikki.jpg");
}

#tie-rm4 {
    background-image: url("../images/tb_hedy.jpg");
}

#tie-rm5 {
    background-image: url("../images/tb_mary.jpg");
}

#tie-rm6 {
    background-image: url("../images/tb_ada.jpg");
}


/* Button Styling - NEEDS UPDATING - PLACEHOLDER FOR HOVER EFFECT */

.btn-choice,
#restart-quiz-btn,
#start-quiz-btn {
    background-color: blanchedalmond;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}

/* REMOVE LATER - JUST FOR JS TESTING */
.btn-choice-tie {
    color: red;
    font-weight: bold;
    font-size: 40px;
}


/* Hover effects - only on hover devices - NEEDS UPDATING - PLACEHOLDER FOR HOVER EFFECT*/

@media (hover: hover) {
    .btn-choice:hover,
    #restart-quiz-btn:hover,
    #start-quiz-btn:hover {
        background-color: pink;
    }
    .btn-choice-tie:hover {
        background-color: rgba(0, 0, 0, .5);
    }
}


/* DOM Manipulation Classes - added in JavaScript */

.selected,
.selected:hover {
    background-color: #ff0000;
}

.hidden {
    display: none;
}

/* 404 page styling */

.error404_container{
    margin: auto;
    text-align: center;
}

.error404_container, img{
    max-width: 80%;
}