@import url('https://fonts.googleapis.com/css2?family=Asap:wght@300;400;500;700&family=Merriweather+Sans:wght@800&display=swap');

html,
body {
    height: 100%;
    font-family: 'Asap', sans-serif;

}

/* Homepage */

.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
  }

/* Navigation Bar */

.navbar-collapse {
    flex-basis: 100%;
    /* flex-grow: 1; */
    align-items: center;
}

.navbar-nav {
    margin-left: auto;
}

/* Callout Container */
.callout-container {
    height: 100vh;
    background-image: url(../images/hero-image.webp); 
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: 'Merriweather Sans', sans-serif;
}

.jumbotron {
    color: rgb(53 201 204 / 99%);
    /* margin-bottom: 20rem; */

}

.jumbotron-text {
    color: rgb(41 75 79);
    font-weight: 700;
}

.btn-jumbotron {
    background-color: rgb(53 201 204 / 50%);
    color: white;
    font-weight: 700;
    margin-top: 2rem;
}

.about-container {
    background-color: rgb(69 124 130 / 49%);
}

.cards-container {
    background-color: rgb(69 124 130 / 49%);
}

.card {
    font-size: 1em;
    overflow: hidden;
    height: 250px;
    width: auto;
    padding: 5;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    margin-top:20px;
    background-color: rgba(211, 238, 241, 1);
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}

.card-btn {
    background-color: rgb(53 201 204 / 50%);
    border: none;
    font-family: 'Asap', sans-serif;
    color: #333;
}

.card-btn:hover {
    background-color: rgb(41 75 79);
    border: none;
}

/* Profile Pages */

.rm-container {
    background-color: rgb(69 124 130 / 49%);
}

.img-profile {
    height: 300px;
    width: 300px;
    margin: auto;
    margin-bottom: 10px;
}

#journey-div h2 {
    padding-bottom: 10px;
}

.event-year {
    font-weight: 800;
}


/* Quiz */

#quiz-bg {
    background-color: rgba(71, 158, 167, 0.49);
    padding: 50px 0;
    min-height: 80%;
}

.game-btn {
    background-color: rgb(41 75 79);
    border: none;
    font-family: 'Asap', sans-serif;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}

#welcome-div h1,
#question-text,
#answer-tie-hide-div p {
    margin-bottom: 20px;
}

#game-div {
    width: 80%;
    margin: 0 auto;
}

#progress-div {
    width: 100%;
    position: relative;
    margin-bottom: 70px;
}

.progressbar {
    height: 15px;
    border-radius: 20px;
    position: absolute;
}

#progressbar-bg {
    width: 100%;
    background-color: rgb(255 255 255 / 90%);
}

#progressbar-fg {
    background-color: rgb(25, 160, 175);
    z-index: 2;
    width: 10%;
}

#progress-text {
    font-weight: 500;
}

#question-text {
    margin-bottom: 30px;
}

#restart-btn-div {
    margin-top: 50px;
}


.btn-choice {
    background-color: rgb(255, 255, 255);
    border-color: rgba(4, 87, 97, 0.5);
    font-weight: 400;
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}

#answer-tie-div {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.btn-choice-tie {
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    transition: background-color 0.25s ease-in-out;
    -moz-transition: background-color 0.25s ease-in-out;
    -webkit-transition: background-color 0.25s ease-in-out;
    -o-transition: background-color 0.25s ease-in-out;
}


/* Tie Break Images - hover effect */

.btn-choice-tie:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: inherit;
    border-radius: inherit;
}

/* Tie Break Images */

#tie-rm1 {
    background-image: url("../images/tb_susan.jpg");
}

#tie-rm2 {
    background-image: url("../images/tb_annie.jpg");
}

#tie-rm3 {
    background-image: url("../images/tb_nikki.jpg");
}

#tie-rm4 {
    background-image: url("../images/tb_hedy.jpg");
}

#tie-rm5 {
    background-image: url("../images/tb_mary.jpg");
}

#tie-rm6 {
    background-image: url("../images/tb_ada.jpg");
}



/* Hover effects - only on hover devices - NEEDS UPDATING - PLACEHOLDER FOR HOVER EFFECT*/

@media (hover: hover) {
    .btn-choice:hover {
        background-color: rgb(41 75 79);
        color: white;
    }

    .btn-choice-tie:hover {
        background-color: rgba(7, 32, 35, 0.8);
    }

    .game-btn:hover {
        background-color: rgba(211, 238, 241, 1);
        color: #333;
        border: none;
    }
}


/* DOM Manipulation Classes - added in JavaScript */

.selected,
.selected:hover {
    background-color: rgb(41 75 79);
}

.hidden {
    display: none;
}

/* 404 page styling */

.error404_container{
    margin: auto;
    text-align: center;
}

.error404_container, img{
    max-width: 80%;
}


  /* footer section */


footer {

    bottom: 0;
    width: 100%;
    height: 60px;
}

  footer{
    margin-top: 1rem;
  }

  .footer-text {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #666;
  }

  /* social icons styling */

.social-icons {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }

  .social-icons li:not(:last-child) {
    margin-right: 20px;
  }

  .social-icons a {
    display: inline-block;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    background-color: #333;
    font-size: 20px;
  }

  .social-icons a i:hover {
    color: rgb(53 201 204 / 99%);
}
